@import "./utils.scss";

.content-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1rem;

    .home {
        .content-header {
            margin: 1rem;
            background: white;
            padding: 1rem;
            border-radius: 5px;
            border: solid 1px $oc-gray-1;
            box-shadow: 10px 10px 5px $oc-gray-2;

            h1 {
                border-bottom: solid 2px $oc-gray-2;
                padding-bottom: 0.5rem;
            }

            p {
                padding-top: 0.5rem;
            }
        }

        .grid {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

}
