 @import './utils';

 .cell {
     margin: 1rem;
     background: white;
     border-radius: 5px;
     border: solid 1px $oc-gray-1;
     padding: 2rem 0;
     box-shadow: 10px 10px 5px $oc-gray-2;

     .cell-link {
         display: block;
         width: calc(100% - 4rem);
         height: 100%;
         margin: auto;

         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;

         .top {
             width: 100%;
             display: flex;
             align-items: flex-start;
             justify-content: space-between;
             flex-direction: row;

             .item-title{
                 max-width: 200px;
                 font-size: 2rem;
             }
             .item-id{
                 font-size: 7rem;
                 line-height: 1;
             }

         }

         .bottom {
             width: 100%;
             padding-top: 2rem;
             .item-date{
                 color: $oc-gray-3;
             }
         }

     }

     &:hover {
         border-color: $oc-gray-4;
         background: $oc-gray-3;
     }
 }

 @media screen and (min-width: 1200px) {
     .cell {
         width: calc(33.3333% - 2rem - 2px);
     }
 }

 @media screen and (max-width: 1200px) {
     .cell {
         width: calc(50% - 2rem - 2px);
     }
 }
